body{
    background-color: #ccc; /*стили для основного тела сайта*/
}

.errorlist{
    color: red; /*стили для маркеров обязательных полей формы*/
}

/* стили для навбара(верхней части сайта) */
ul.text-secondary{
    margin-left: 500px;
}

li.nav-item1{
    margin-top: px;
}

li.nav-item2{
    margin-left: 15px;
}

/* стили для формы регистрации */
h1.h1_register{
    margin-left: 100px;
    margin-right: auto;
    font-family: serif;
    background-color: #ccc;
}

form.register{
    font-family: serif;
    margin-left: 100px;
    background-color: #ccc;
}

/* стили для формы авторизации */
h1.h1_login{
    margin-left: 250px;
    margin-right: auto;
    font-family: serif;
}

form.login{
    font-family: serif;
}